/* 64em is also 1028px (if basefont is 16px) */

@media only screen and (min-width: 64rem) {
    /*----------- BODY --------------*/
    header, nav, main, footer {
        max-width: 80rem;
        margin: auto;
    }
    .header-wrapper {
        background-color: #4E9DA6;
    }
    .footer-bottom-wrapper {
        background-color: #4E9DA6;
    }
    .footer-top-wrapper {
        background-color: #C1D6D9;
    }
    /*----------- HEADER --------------*/
    /*----------- NAVIGATION --------------*/
    nav ul.hide {
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
    #primaryNav ul {
        margin-left: auto;
    }
    #primaryNav li {
        float: right;
        color: white;
    }
    nav ul {
        border: none;
    }
    nav ul li a {
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    nav ul li.active a {
        border-radius: 10px;
    }
    .main-header h1 {
        font-size: 2rem;
        padding-top: 2rem;
    }
    .main-header img {
        width: 6rem;
    }
    header {
        display: flex;
        background-color: #4E9DA6;
        width: 100%;
    }
    .main-header {
        max-width: 100rem;
        margin: auto;
    }
    /*----------- MAIN --------------*/
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .mission {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .contact {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .events {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .membership {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    /*----------- FOOTER --------------*/
}