/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/

body {
    font-family: 'EB Garamond', serif;
    font-size: 16pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

/* Delete Later */

img {
    width: 100px;
}

/*
COLORS
BLUE
#4E9DA6
LIGHT BLUE
#C1D6D9
LIGHT GREY
#EBF2F2
DARK GREY
#63736E
GREEN
#8CA665
*/

/*----------- HEADER --------------*/

header {
    position: fixed;
    top: 0;
    z-index: 1;
    min-width: 100%;
}

.main-header {
    background-color: #4E9DA6;
    display: flex;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #fff;
    align-self: end;
}

/*----------- NAVIGATION --------------*/

nav ul {
    border-top: 4px solid white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #4E9DA6;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #C1D6D9;
    color: #4E9DA6;
}

nav ul li.active a {
    background-color: #8CA665;
    color: white;
}

nav ul.hide {
    display: none;
}

.filler {
    height: 5rem;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 20rem;
    font-size: 1.25rem;
}

/*----------- Home--------------*/

.main-banner {
    position: relative;
}

.main-banner img {
    width: 100%;
}

.main-banner h1 {
    font-size: 2rem;
    text-align: center;
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8CA665;
}

.card {
    background-color: #C1D6D9;
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.card h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mission {
    background-color: #8CA665;
}

.contact {
    background-color: #C1D6D9;
}

.space {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact p, .advertisement p {
    line-height: 2rem;
}

.location {
    margin-top: 0;
}

.submitBtn {
    background-color: transparent;
    border: 4px solid #4E9DA6;
    padding: 0.5rem;
    color: #4E9DA6;
}

legend {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input, .text-box {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 2px solid #4E9DA6;
}

.advertisement {
    background-color: #63736E;
    color: white;
    padding: 0;
    padding-bottom: 1rem;
    ;
}

.advertisement a {
    color: white;
}

.advertisement img {
    width: 100%;
}

.text {
    padding: 0 2%;
    margin-bottom: 1rem;
}

.membership {
    background-color: #8CA665;
}

.membership button {
    background-color: transparent;
    border: 4px solid black;
    padding: 0.5rem;
    color: black;
}

.events li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.weather-grid {
    background-color: #C1D6D9;
    text-align: center;
}

.weather-grid .current img {
    width: 100%;
}

.current {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 2%;
}

.title {
    padding-top: 1rem;
}

.text-on-image {
    text-align: center;
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.alert {
    background-color: #8CA665;
    padding: 0 2%;
}

/*----------- FOOTER --------------*/

footer {
    font-size: 1rem;
}

footer img {
    width: 20px;
    margin: 0.5rem;
}

/*----------- remove width after optamizing --------------*/

footer img {
    width: 20px;
    margin: 0.5rem;
}

.footer-widgets {
    background-color: #C1D6D9;
    text-align: center;
    padding: 0.5rem;
rem;
}

.footer-widgets button {
    background-color: transparent;
    border: 4px solid black;
    padding: 0.5rem;
    color: back;
}

.footer-widgets p, .footer-widgets li {
    margin: 0;
    line-height: 1.5rem;
}

.footer-widgets h3 {
    margin-bottom: 0.5rem;
}

.section {
    margin: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    color: black;
    display: block;
}

.footer-bottom {
    background-color: #4E9DA6;
    text-align: center;
    padding: 1rem;
}

.footer-bottom p {
    color: black;
    margin: 0;
    padding: 0.25rem;
    font-size: 1rem;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix-footer {
    content: "";
    clear: both;
}