.h1 {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
}

.h2 {
    border-bottom: double;
}

.profile-picture {
    width: 120px;
    box-shadow: 5px 5px 5px #999;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

.footer-link {
    color: white;
  }