/* Fonts from Google*/
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&display=swap");

/* Web Page Background*/
body {
  background-color: #D62062;
  font-family: "BioRhyme", serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: black;
}

/*page with white background*/
#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}

/*Headers and underlines*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #64113F;
  padding: 10px;
  font-family: "Chango";
  margin: 0;
}

/*paragraphs*/
p {
  padding: 10px;
  color: black;
  font-family: "BioRhyme", serif;
  font-size: 1.35em;
  line-height: 1.45em;
}

/*over banner nav*/
nav {
  background-color: #84E6F8;
  border-radius: 15px;
}

/*nav text*/
nav a {
  color: #396E94;
  line-height: 1.5em;
  padding: 0.25em 0.25em;
  text-decoration: none;
}

nav li {
  font-family: "BioRhyme", serif;
  font-size: 1.25em;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
}

nav a:hover {
  text-decoration: underline;
  background-color: #F7CACD;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/*Header*/
header {
  background-color: #64113F;
  display: grid;
  grid-template-columns: 73px 8fr 100px 100px 1fr;
  grid-template-rows: 50px 23px;
  grid-column-gap: 10px;
}

.logo {
  width: 73px;
}

.head-header {
  color: white;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.profile-picture {
  width: 50px;
  margin-top: 10px;
  border-radius: 50px;
}

/*Banner*/
.banner {
  width: 100%;
}

.banner-box {
  position: relative;
  text-align: center;
  color: white;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-header {
  margin: 10px;
  color: #F7CACD;
  text-shadow: 4px 4px #64113F;
}

.banner-search {
  width: 200px;
  background-color: #F7CACD;
  border-color: #D62062;
  color: #D62062;
  border-radius: 10px;
}

::placeholder {
  color: #64113F;
}

/*home-main content*/
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr;
}

.home-headline-1 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 10px;
}

.home-paragraph-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 10px;
}

.home-right-img {
  width: 400px;
  height: 300px;
  margin: 0 3em;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #999;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  float: right;
  align-self: center;
  justify-self: center;
}

.home-left-img {
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 1em;
  box-shadow: 5px 5px 5px #999;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  float: left;
}

/*browse-main content*/
.browse-grid {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 50px 1fr 80px 360px 360px;
}

.browse-heading-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.browse-paragraph-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.filter {
  background-color: #84E6F8;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.filter-search {
  width: 200px;
  background-color: #F7CACD;
  border-color: #D62062;
  color: #D62062;
  border-radius: 20px;
  padding: 10px;
  font-size: 1em;
}

.filter-button {
  background-color: #F7CACD;
  color: #D62062;
  border-color: #D62062;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 1em;
  padding: 10px;
}

img {
  max-width: 100%;
}

.card {
  width: 250px;
  height: 270px;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 3px;
  background-color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
  margin: 20px;
  display: grid;
  grid-template-columns: 210px 40px;
  grid-template-rows: 127px 40px 1fr;
}

ul {
  list-style-type: none;
}

.card-info {
  font-size: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-left: -15px;
}

.price {
  font-size: 1.25em;
}

.heart {
  width: 40px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.browse-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.browse-img2 {
  width: 250pxpx;
}

.browse-img5 {
  height: 167px;
}

.card-1 {
  margin-left: 55px;
}

.card-4 {
  margin-left: 55px;
}

.card-2 {
  margin-left: 45px;
}

.card-5 {
  margin-left: 45px;
}

/*sell-main content*/

.sell-grid {
  display: grid;
  grid-template-columns: 120px 360px 1fr;
  grid-template-rows: 50px 50px 1fr;
}

.sell-main-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.left-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.right-title {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.sell-paragraph-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  padding-top: 20px;
}

/*Lucy/ agent1*/
.agent-image-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.agent-info1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.agent-description1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: ;
  grid-row-end: ;
}

/*Bob/ agent2*/
.agent-image-2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.agent-info2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.agent-description2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*Mia/ agent3*/
.agent-image-3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.agent-info3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.agent-description3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*Kyle/ agent4*/
.agent-image-4 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.agent-info4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.agent-description4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.agent {
  width: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 10px;
}

.agent-info {
  font-size: 1.25em;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 0;
  *padding: 0;
  margin: 0;
}

.description {
  margin-top: -10px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 25px;
  font-size: 1em;
}

/*footer*/
footer {
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  align-items: center;
  justify-content: center;
  line-height: 3.5em;
  background-color: #64113F;
  height: 70px;
}

.socialmedia {
  padding: ;
  margin-right: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  border-radius: 50px;
}

#info {
  font-size: 12px;
  color: white;
}

#info1 {
  font-size: 12px;
  color: white;
  margin-right: 10px;
}

/* Sign in and Sign Up Buttons*/

/* Sign up and Log in Button Style */
.open-button {
  background-color: #D62062;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  align-self: right;
  bottom: 23px;
  right: 28px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
}

/* Sign Up The popup form - hidden by default */
.sign-up-popup {
  display: none;
  position: fixed;
  z-index: 1;
  color: #64113F;
  border-radius: 30px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Add styles to the form container */
.sign-up-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  color: #64113F;
}

/* Full-width input fields */
.sign-up-container input[type="text"],
.sign-up-container input[type="password"] {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  margin: 5px 0 22px 0;
  border-color: #D62062;
  background: #F7CACD;
  border-radius: 30px;
  color: #64113F;
}

/* When the inputs get focus, do something */
.sign-up-container input[type="text"]:focus,
.sign-up-container input[type="password"]:focus {
  color: #64113F;
  outline: none;
}

/* Set a style for the submit/login button */
.sign-up-container {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.btn {
  background-color: #84E6F8;
  color: #396E94;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
  font-size: 20px;
}

/* Add a red background color to the cancel button */
.sign-up-container .cancel {
  background-color: #84E6F8;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  font-size: 50px;
  border-radius: 30px;
  padding: 0;
  margin-left: -50px;
  margin-top: 200px;
}

/* Add some hover effects to buttons */
.sign-up-container .btn:hover,
.open-button:hover {
}

/* Log in The popup form - hidden by default */
.log-in-popup {
  display: none;
  position: fixed;
  left: 15px;
  z-index: 1;
  color: #64113F;
  border-radius: 30px;
}

/* Add styles to the form container */
.log-in-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  color: #64113F;
}

/* Full-width input fields */
.log-in-container input[type="text"],
.log-in-container input[type="password"] {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  margin: 5px 0 22px 0;
  border-color: #D62062;
  background: #F7CACD;
  border-radius: 30px;
  color: #64113F;
}

/* When the inputs get focus, do something */
.log-in-container input[type="text"]:focus,
.log-in-container input[type="password"]:focus {
  color: #64113F;
  outline: none;
}

/* Set a style for the submit/login button */
.log-in-container {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

/* Add a red background color to the cancel button */
.log-in-container .cancel {
  background-color: #84E6F8;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  font-size: 50px;
  border-radius: 30px;
  padding: 0;
  margin-left: -50px;
}

/* Add some hover effects to buttons */
.log-in-container .btn:hover,
.open-button:hover {
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
}

/* The Close Button */
.close {
  background-color: #84E6F8;
  color: #396E94;
  position: absolute;
  top: 215px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  border-radius: 30px;
  padding: 0;
  border: none;
  left: 1050px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}

@media screen;
