/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Varela Round', sans-serif;
*/

/*----------- BODY --------------*/

body {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    text-align: center;
}

picture img {
    border: 1px solid;
    margin: 0 auto;
    padding: 1%;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*----- Google Maps -----*/