$class-color: pink;
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}
header, footer {
    background-color: $class-color;
    color: black;
    padding: 1rem;
    h1 {
        margin: 0;
        color: black;
    }
}
h1 {
    margin: 1rem;
}
li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
