$main-color: #A65362;
$background-color: #F2D5E5;
$mid-color: #D97398;
$highlight-color: #D93D66;
body {
    background-color: $background-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}
h1 {
    text-align: center;
    color: $highlight-color;
}
.list-container {
    border: 2px solid $mid-color;
    margin-left: 2rem;
    margin-right: 2rem;
    button {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    background-color: $highlight-color;
    border: 2px solid;
    color: $background-color;
    padding: 1rem;
    border-radius: 50rem;
    &:hover {
        background-color: transparent;
        color: $highlight-color;
    }
    &:active {
        background-color: white;
        color: $highlight-color;
    }
}
.tasks-left {
    p {
        display: inline;
    }
}
.add-task {
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}
input {
    border: 2px solid $highlight-color;
    color: $highlight-color;
    padding: 1rem;
    border-radius: 50rem;
}
#task-container {
    input {
        height: 2rem;
        width: 2rem;
        margin-left: 2rem;
    }
    div {
        font-size: 2rem;
        display: grid;
        grid-template-columns: 6rem 1fr 6rem;
        align-items: center;
        div {
            display: block;
        }
    }
    i {
        font-size: 3rem;
    }
}
.complete {
    text-decoration: line-through;
}
.close-container {
    color: $highlight-color;
    padding: 1rem;
    border-radius: 50%;
    &:hover {
        color: $background-color;
        background-color: $highlight-color;
    }
    &:active {
        color: $highlight-color;
        background-color: white;
    }
}
@media only screen and (min-width: 600px) {
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
}
