// font-family: 'EB Garamond', serif;
// font-family: 'Open Sans', sans-serif;

$opgray: rgba(128,128,128, 0.4);
$opgray2: rgba(128,128,128, 0.8);
#rect1 {
    fill: url(#Gradient1);
}

.stop1 {
    stop-color: #dbbe9f;
}

.stop3 {
    stop-color: #a78c70;
}

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(35deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.app-container {
    background-image: url("assets/hd-standard-banner.png");
    // background-image: url("assets/standard-gem-background.png");
    // background-image: url("assets/standard-banner.png");
    // background-image: url("assets/gem-lines.png");
    overflow: hidden;
    background-color: #90bee4;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

// Back and items
.items-header-container {
    display: grid;
}

.back-button {
    background-color: #ef87a3;
    border: 2px solid #f2a7bc;
    border-radius: 100%;

    svg {
        fill: white;
    }
}

// Items
.items-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    margin-right: 0.5rem;
}

.items-bar {
    font-family: 'Open Sans', sans-serif;
    background-color: $opgray2;
    // opacity: 0.6;
    transform: skew(-30deg);
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    margin-top: 0.2rem;

    div {
        color: white;
        transform: skew(30deg);
    }

    img {
        width: 2rem;
        margin-top: 0.1rem;
    }
}

.img-icon-container {
    transform: skew(0deg);
}

.add-btn {
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    transform: skew(30deg);
    background-image: linear-gradient(to right, white, lightgrey);
    border-radius: 100%;
    border: none;
    box-shadow: 1px 1px 3px grey;
}

.items-bar-container {
    grid-column-start: 3;
    grid-column-end: 9;
}

.item {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.redeem-btn {
    background-color: #b5a5cc;
    border: 2px solid #c9b8d8;
    font-family: 'EB Garamond', serif;
    color: white;
    display: flex;

    img {
        transform: rotateZ(20deg);
    }

    align-items: center;
}

.drop-btn {
    background-color: #90bee4;
    border: 2px solid #add3f3;
    color: white;
    font-family: 'EB Garamond', serif;
}

.third-row {
    display: grid;
    // grid-template-rows: 1fr 1fr;
}

.preview-btn {
    background-color: #d5b48f;
    border: 2px solid #e7c9a7;
    border-radius: 100%;
    font-family: 'EB Garamond', serif;
    padding: 0;
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
    z-index: 1;
}

.limited-container {
    grid-column-start: 5;
    grid-column-end: 9;
    color: white;
    background-color: $opgray;
    font-family: 'Open Sans', sans-serif;
    // filter:blur(4px);
    // box-shadow: 5px 0 2px gray;
    // opacity: 0.5;
    p {
        margin: 0;
    }
}

#gwc-button {
    transform: skew(0deg);
}

.forth-row {
    display: grid;
}

.wish-container {
    grid-column-start: 3;
    grid-column-end: 7;
    // display: flex;
    color: white;
    background-color: $opgray;
    font-family: 'Open Sans', sans-serif;
    // filter:blur(4px);
    // box-shadow: 5px 0 2px gray;
    // opacity: 0.5;
    p {
        margin: 0;
    }
}

.free-container {
    display: grid;
}

.free-text-container {
    font-family: 'Open Sans', sans-serif;
    grid-column-start: 2;
    grid-column-end: 5;
}

.buy-containers {
    display: grid;
}

.pull-1-container {
    grid-column-start: 3;
    grid-column-end: 8;
}

.pull-10-container {
    grid-column-start: 10;
    grid-column-end: 15;
}

//  .pull1
.pull-button {
    color: white;
    // opacity: 0.9;
}

.pull1 {
    background-color: #93b4c6;
    // background-color: rgba(147, 180, 198, 0.7);
    border: 2px solid #aecada;
    font-family: 'EB Garamond', serif;
}

.pull10 {
    background-color: #e99ab9;
    border: 2px solid #edb8cc;
    font-family: 'EB Garamond', serif;
}

.sr-ensured {
    position: relative;
}

.cost {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: $opgray;
    // opacity: 0.5;
}

.purchase-limit-container {
    font-family: 'Open Sans', sans-serif;
    display: grid;
}

.text-container {
    background-color: white;
    opacity: 0.5;
    grid-column-start: 4;
    grid-column-end: 9;
    text-align: right;
    p {
        margin: 0;
    }
}

.resultsContainer {
    background-repeat: no-repeat;
    background-size: 100%;
    // height: 100%;
}