// font-family: 'EB Garamond', serif;
// font-family: 'Open Sans', sans-serif;

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(35deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.app-container {
    // background-image: url("assets/standard-no-info.png");
    background-image: url("assets/standard-banner.png");
    background-image: url("assets/gem-lines.png");
    overflow: hidden;
    background-color: #90bee4;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

// Back and items
.items-header-container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: 7rem 1fr;
    // grid-gap: 0.5rem;
}

.back-button {
    // opacity: 0.5;
    background-color: #ef87a3;
    border: 2px solid #f2a7bc;
    border-radius: 100%;
    // width: 3.5rem;
    // height: 3.5rem;
    // margin-top: 0.3rem;
    // margin-left: 0.3rem;
    svg {
        fill: white;
        // width: 2.2rem;
        // margin-left: 0.7rem;
        // margin-top: 0.5rem;
    }
}