$main-color: #A65362;
$background-color: #F2D5E5;
$mid-color: #D97398;
$highlight-color: #D93D66;
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin: 1rem;
}
h1 {
    text-align: center;
    color: $highlight-color;
}
h2, h3, h4, h5, h6 {
    color: $highlight-color;
}
img {
    width: 100%;
}
.colors-box {
    display: grid;
    // box-sizing: border-box;
    div {
        padding: 1rem;
        // box-sizing: border-box;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
#color-1 {
    background-color: #021E73;
    color: white;
}
#color-2 {
    background-color: #021859;
    color: white;
}
#color-3 {
    background-color: #F2B705;
}
#color-4 {
    background-color: #F23005;
}
#color-5 {
    background-color: #F2F2F2;
}
@media only screen and (min-width: 599px) {
    body {
        max-width: 600px;
        margin: 0 auto;
    }
}
