@media only screen and (min-width: 1200px) {
  // Variables
$color1: #021E73;
$color2: #021859;
$color3: #F2B705;
$color4: #F23005;
$color5: #F2F2F2;
//  Type Colors
$normal: #9b9f6c;
$fire: #e4732f;
$water: #6b7def;
$grass: #6fc840;
$electric: #efce26;
$ice: #94d4d2;
$fighting: #b01f29;
$poison: #942698;
$ground: #d6bb5c;
$flying: #a27bef;
$psychic: #ee3f80;
$bug: #9bb513;
$rock: #aa992f;
$ghost: #67478e;
$dark: #624e3f;
$dragon: #624e3f;
$steel: #b1adca;
$fairy: #e9aab5;

$max-width: 60rem;
    .header-wrapper, .footer-wrapper {
        header {
        //    justify-content: flex-start;
           width: $max-width;
           margin: 0 auto; 
          // margin-left: 1rem;
          // padding: 1rem;
        }
        footer {
            width: $max-width;
            margin: 0 auto; 
        }
        img {
        //   max-width: 3rem;
        //   display: block;
          margin-left: 0rem;
        //   margin-right: 1rem;
        }
        // If I want, later I can make the menu wide on large screens
      }
    //   Nav
    nav {
        width: 64rem;
        margin: 0 auto; 
        &.open {
            ul {
                display: flex;
                justify-content: space-between;
                button {
                    // padding: 0;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
      main {
        // margin-left: 0rem;
        // margin-right: 0rem;
        width: $max-width;
        margin: 0 auto; 
      }
      #viewSets {
        // display: grid;
        // margin-bottom: 1rem;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-gap: 1rem;
        .thumbnail-container  {
          // max-width: 100%;
          // // margin: 0;
          // width: 100%;
          h3 {
            font-size: 35pt;
            }
        }
      }
  }