@media only screen and (min-width: 600px) {
    .header-wrapper, .footer-wrapper {
      header {
         justify-content: space-between;
        // margin-left: 1rem;
        // padding: 1rem;
      }
      footer {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .logotype {
        display: flex;
        align-items: center;
      }
     img {
        max-width: 10%;
        // display: inline;
        display: block;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      h1 {
        padding: 0;
        // display: inline;
      }
    }
    // Nav
    nav {
      &.open {
          ul {
              button {
                  margin-left: 2rem;
                  margin-right: 2rem;
              }
          }
      }
  }
    main {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .flash-card {
      h2 {
        font-size: 50pt;
        // margin: 0;
      }
      max-width: 30rem;
      height: 30rem;
    }
    #review h1 {
      font-size: 40pt;
    }
    .bottom-nav {
      max-width: 30rem;
      
      display: grid;
      grid-template-columns: 3rem 1fr 3rem;
      .next {
        grid-column-start: 3;
      }
      // arrow {
      //   width: 10rem;
      // }
      svg {
        width: 3rem;
      }
      // .arrow .next::after {
      //   margin-left: -10rem;
      // }
    }
  
  }
  