body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.header-wrapper, .footer-wrapper {
  background-color: #021E73;
  color: white;
}

.header-wrapper header, .footer-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper img, .footer-wrapper img {
  display: none;
}

.header-wrapper button, .footer-wrapper button {
  border: none;
  background: transparent;
}

.header-wrapper i, .footer-wrapper i {
  color: white;
  border: none;
  font-size: 2rem;
  padding: 1rem;
}

.header-wrapper h1, .footer-wrapper h1 {
  padding-left: 1rem;
}

.header-wrapper footer, .footer-wrapper footer {
  padding: 1rem;
}

.nav-wrapper {
  background-color: #021859;
}

nav {
  display: none;
}

nav.open {
  display: block;
}

nav.open ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.open ul button {
  background: transparent;
  border: none;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav.open ul button:hover {
  color: #F2B705;
  border-color: #F2B705;
}

nav.open ul button:active {
  color: #F23005;
  border-color: #F23005;
}

nav.open ul button.active {
  background-color: white;
  color: #021859;
}

nav.open ul button.active:hover {
  border-color: white;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: #F23005;
}

#review {
  text-align: center;
}

#review img {
  max-width: 100%;
}

.flash-card {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.flash-card h2 {
  margin: 0;
  padding: 1rem;
}

.flash-card img {
  width: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flash-card {
  background-color: transparent;
  max-width: 20rem;
  height: 20rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flash-card:hover .card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  background-color: white;
  border: 2px solid #F23005;
  border-radius: 10px;
}

/* Style the back side */
.card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F23005;
  border-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-back h2 {
  font-size: 30pt;
  color: white;
}

.normal .card-front {
  border: 2px solid #9b9f6c;
}

.normal .card-back {
  background-color: #9b9f6c;
  border: 2px solid #9b9f6c;
}

.fire .card-front {
  border: 2px solid #e4732f;
}

.fire .card-back {
  background-color: #e4732f;
  border: 2px solid #e4732f;
}

.water .card-front {
  border: 2px solid #6b7def;
}

.water .card-back {
  background-color: #6b7def;
  border: 2px solid #6b7def;
}

.grass .card-front {
  border: 2px solid #6fc840;
}

.grass .card-back {
  background-color: #6fc840;
  border: 2px solid #6fc840;
}

.electric .card-front {
  border: 2px solid #efce26;
}

.electric .card-back {
  background-color: #efce26;
  border: 2px solid #efce26;
}

.ice .card-front {
  border: 2px solid #94d4d2;
}

.ice .card-back {
  background-color: #94d4d2;
  border: 2px solid #94d4d2;
}

.fighting .card-front {
  border: 2px solid #b01f29;
}

.fighting .card-back {
  background-color: #b01f29;
  border: 2px solid #b01f29;
}

.poison .card-front {
  border: 2px solid #942698;
}

.poison .card-back {
  background-color: #942698;
  border: 2px solid #942698;
}

.ground .card-front {
  border: 2px solid #d6bb5c;
}

.ground .card-back {
  background-color: #d6bb5c;
  border: 2px solid #d6bb5c;
}

.flying .card-front {
  border: 2px solid #a27bef;
}

.flying .card-back {
  background-color: #a27bef;
  border: 2px solid #a27bef;
}

.psychic .card-front {
  border: 2px solid #ee3f80;
}

.psychic .card-back {
  background-color: #ee3f80;
  border: 2px solid #ee3f80;
}

.bug .card-front {
  border: 2px solid #9bb513;
}

.bug .card-back {
  background-color: #9bb513;
  border: 2px solid #9bb513;
}

.rock .card-front {
  border: 2px solid #aa992f;
}

.rock .card-back {
  background-color: #aa992f;
  border: 2px solid #aa992f;
}

.ghost .card-front {
  border: 2px solid #67478e;
}

.ghost .card-back {
  background-color: #67478e;
  border: 2px solid #67478e;
}

.dark .card-front {
  border: 2px solid #624e3f;
}

.dark .card-back {
  background-color: #624e3f;
  border: 2px solid #624e3f;
}

.dragon .card-front {
  border: 2px solid #624e3f;
}

.dragon .card-back {
  background-color: #624e3f;
  border: 2px solid #624e3f;
}

.steel .card-front {
  border: 2px solid #b1adca;
}

.steel .card-back {
  background-color: #b1adca;
  border: 2px solid #b1adca;
}

.fairy .card-front {
  border: 2px solid #e9aab5;
}

.fairy .card-back {
  background-color: #e9aab5;
  border: 2px solid #e9aab5;
}

.arrow {
  width: 2rem;
}

.arrow svg {
  fill: #F23005;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/*# sourceMappingURL=small.css.map */