// Variables
$color1: #021E73;
$color2: #021859;
$color3: #F2B705;
$color4: #F23005;
$color5: #F2F2F2;
//  Type Colors
$normal: #9b9f6c;
$fire: #e4732f;
$water: #6b7def;
$grass: #6fc840;
$electric: #efce26;
$ice: #94d4d2;
$fighting: #b01f29;
$poison: #942698;
$ground: #d6bb5c;
$flying: #a27bef;
$psychic: #ee3f80;
$bug: #9bb513;
$rock: #aa992f;
$ghost: #67478e;
$dark: #624e3f;
$dragon: #624e3f;
$steel: #b1adca;
$fairy: #e9aab5;

$max-width: 60rem;
// Mixins
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
// Header and Footers
.header-wrapper, .footer-wrapper {
    background-color: $color1;
    // display: grid;
    // grid-template-columns: 5rem 1fr 2rem;
    color: white;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-left: 1rem;
        // padding: 1rem;
    }
    img {
        // max-width: 2rem;
        display: none;
        // display: inline;
    }
    button {
        border: none;
        background: transparent;
    }
    i {
        color: white;
        // color: red;
        border: none;
        font-size: 2rem;
        padding: 1rem;
        // display: inline;
    }
    h1 {
        padding-left: 1rem;
    }
    footer {
        padding: 1rem;
    }
}
// Nav
.nav-wrapper {
    background-color: $color2;
}
nav {
    display: none;
    &.open {
        display: block;
        // transition: opacity 5s ease-in;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            button {
                background: transparent;
                border: none;
                color: white;
                padding: 1rem;
                border: 1px solid white;
                // border-radius: 10px;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                &:hover {
                    color: $color3;
                    border-color: $color3;
                }
                &:active {
                    color: $color4;
                    border-color: $color4;
                }
                &.active {
                    background-color: white;
                    color: $color2;
                    &:hover {
                        border-color: white;
                    } 
                }
            }
        }
    }
}
// Main
main {
    margin-left: 1rem;
    margin-right: 1rem;
    h1, h2, h3, h4, h5, h6 {
        color: $color4;
    }
}
#mysets {
    text-align: center;
    img {
        max-width: 100%;
    }
}
.flash-card {
    // background-color: $color5;
    // border: 2px solid $color4;
    // border-radius: 10px;
    h2 {
        margin: 0;
        padding: 1rem;
    }
    // padding-top: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    // max-width: 30rem;
    img {
        // height: 100%;
        width: 100%;

    }
}
// Card Flip
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flash-card {
    background-color: transparent;
    max-width: 20rem;
    height: 20rem;
    // border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    // margin-bottom: 1rem;
  }
  
  /* This container is needed to position the front and back side */
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flash-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .card-front {
    // background-color: $color5;
    border: 2px solid $color4;
    border-radius: 10px;
    // color: black;
  }
  
  /* Style the back side */
  .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $color4;
    h2 {
        font-size: 30pt;
        color: white;
    }
    border: 2px solid $color4;
    border-radius: 10px;
    // padding: 70px 0;
    // background-color: dodgerblue;
    // color: white;
    transform: rotateY(180deg);
  }

#normal {
    .card-front {
        // background-color: $color5;
        border: 2px solid $normal;
    }
    .card-back {
        background-color: $normal;
        border: 2px solid $normal;
    }
}
#fire {
    .card-front {
        // background-color: $color5;
        border: 2px solid $fire;
    }
    .card-back {
        background-color: $fire;
        border: 2px solid $fire;
    }
}
#water {
    .card-front {
        // background-color: $color5;
        border: 2px solid $water;
    }
    .card-back {
        background-color: $water;
        border: 2px solid $water;
    }
}
#grass {
    .card-front {
        // background-color: $color5;
        border: 2px solid $grass;
    }
    .card-back {
        background-color: $grass;
        border: 2px solid $grass;
    }
}
#electric {
    .card-front {
        // background-color: $color5;
        border: 2px solid $electric;
    }
    .card-back {
        background-color: $electric;
        border: 2px solid $electric;
    }
}
#ice {
    .card-front {
        // background-color: $color5;
        border: 2px solid $ice;
    }
    .card-back {
        background-color: $ice;
        border: 2px solid $ice;
    }
}
#fighting {
    .card-front {
        // background-color: $color5;
        border: 2px solid $fighting;
    }
    .card-back {
        background-color: $fighting;
        border: 2px solid $fighting;
    }
}
#poison {
    .card-front {
        // background-color: $color5;
        border: 2px solid $poison;
    }
    .card-back {
        background-color: $poison;
        border: 2px solid $poison;
    }
}
#ground {
    .card-front {
        // background-color: $color5;
        border: 2px solid $ground;
    }
    .card-back {
        background-color: $ground;
        border: 2px solid $ground;
    }
}
#flying {
    .card-front {
        // background-color: $color5;
        border: 2px solid $flying;
    }
    .card-back {
        background-color: $flying;
        border: 2px solid $flying;
    }
}
#psychic {
    .card-front {
        // background-color: $color5;
        border: 2px solid $psychic;
    }
    .card-back {
        background-color: $psychic;
        border: 2px solid $psychic;
    }
}
#bug {
    .card-front {
        // background-color: $color5;
        border: 2px solid $bug;
    }
    .card-back {
        background-color: $bug;
        border: 2px solid $bug;
    }
}
#rock {
    .card-front {
        // background-color: $color5;
        border: 2px solid $rock;
    }
    .card-back {
        background-color: $rock;
        border: 2px solid $rock;
    }
}
#ghost {
    .card-front {
        // background-color: $color5;
        border: 2px solid $ghost;
    }
    .card-back {
        background-color: $ghost;
        border: 2px solid $ghost;
    }
}
#dark {
    .card-front {
        // background-color: $color5;
        border: 2px solid $dark;
    }
    .card-back {
        background-color: $dark;
        border: 2px solid $dark;
    }
}
#dragon {
    .card-front {
        // background-color: $color5;
        border: 2px solid $dragon;
    }
    .card-back {
        background-color: $dragon;
        border: 2px solid $dragon;
    }
}
#steel {
    .card-front {
        // background-color: $color5;
        border: 2px solid $steel;
    }
    .card-back {
        background-color: $steel;
        border: 2px solid $steel;
    }
}
#fairy {
    .card-front {
        // background-color: $color5;
        border: 2px solid $fairy;
    }
    .card-back {
        background-color: $fairy;
        border: 2px solid $fairy;
    }
}
