// Variables
$color1: #021E73;
$color2: #021859;
$color3: #F2B705;
$color4: #F23005;
$color5: #F2F2F2;
//  Type Colors
$normal: #9b9f6c;
$fire: #e4732f;
$water: #6b7def;
$grass: #6fc840;
$electric: #efce26;
$ice: #94d4d2;
$fighting: #b01f29;
$poison: #942698;
$ground: #d6bb5c;
$flying: #a27bef;
$psychic: #ee3f80;
$bug: #9bb513;
$rock: #aa992f;
$ghost: #67478e;
$dark: #624e3f;
$dragon: #624e3f;
$steel: #b1adca;
$fairy: #e9aab5;

$max-width: 60rem;

// Mixins
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

// #essentialDivContainer {
//     margin-left: 1rem;
//     margin-right: 1rem;
// }
#essentialTitle h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

div.thumbnail-container,
#review {
    margin-left: 1rem;
    margin-right: 1rem;
}

.back-container {
    margin-left: 1rem;
}

// Header and Footers
.header-wrapper,
.footer-wrapper {
    background-color: $color1;
    // display: grid;
    // grid-template-columns: 5rem 1fr 2rem;
    color: white;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-left: 1rem;
        // padding: 1rem;
    }

    img {
        // max-width: 2rem;
        display: none;
        // display: inline;
    }

    button {
        border: none;
        background: transparent;
    }

    i {
        color: white;
        // color: red;
        border: none;
        font-size: 2rem;
        padding: 1rem;
        // display: inline;
    }

    h1 {
        padding-left: 1rem;
    }

    footer {
        padding: 1rem;
    }
}

// Nav
.nav-wrapper {
    background-color: $color2;
}

nav {
    display: none;

    a {
        text-decoration: none;
        // color: white;
    }

    &.open {
        display: block;

        // transition: opacity 5s ease-in;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            button {
                background: transparent;
                border: none;
                color: white;
                padding: 1rem;
                border: 1px solid white;
                // border-radius: 10px;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;

                a {
                    color: white;
                }

                &:hover {
                    color: $color3;
                    border-color: $color3;

                    a {
                        color: $color3;
                    }
                }

                &:active {
                    color: $color4;
                    border-color: $color4;

                    a {
                        color: $color4;
                    }
                }

                &.active {
                    background-color: white;
                    color: $color2;

                    &:hover {
                        border-color: white;
                    }

                    a {
                        color: $color2;
                    }
                }
            }
        }
    }
}

// Main
main {

    // margin-left: 1rem;
    // margin-right: 1rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color4;
    }
}

#review {
    text-align: center;

    img {
        max-width: 100%;
    }
}

.flash-card {

    // background-color: $color5;
    // border: 2px solid $color4;
    // border-radius: 10px;
    h2 {
        margin: 0;
        padding: 1rem;
    }

    // padding-top: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    // max-width: 30rem;
    img {
        // height: 100%;
        width: 100%;

    }
}

// Card Flip
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flash-card {
    background-color: transparent;
    max-width: 20rem;
    height: 20rem;
    // border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    // margin-bottom: 1rem;
}

/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flash-card:hover .card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    background-color: white;
    border: 2px solid $color4;
    border-radius: 10px;
    // color: black;
}

/* Style the back side */
.card-back {
    display: flex;
    align-items: center;
    justify-content: center;

    // background-color: $color4;
    h2 {
        font-size: 30pt;
        color: white;
    }

    border: 2px solid $color4;
    border-radius: 10px;
    // padding: 70px 0;
    // background-color: dodgerblue;
    // color: white;
    transform: rotateY(180deg);
}

//   Types
.normal {
    .new-set-pokemon {
        border: 2px solid $normal;
        h3 {
            color: $normal;
        }
    }
    .card-front, .new-set-pokemon {
        // background-color: $color5;
        border: 2px solid $normal;
    }

    .card-back {
        background-color: $normal;
        border: 2px solid $normal;
    }
}

.fire {
    .new-set-pokemon {
        border: 2px solid $fire;
        h3 {
            color: $fire;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $fire;
    }

    .card-back {
        background-color: $fire;
        border: 2px solid $fire;
    }
}

.water {
    .new-set-pokemon {
        border: 2px solid $water;
        h3 {
            color: $water;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $water;
    }

    .card-back {
        background-color: $water;
        border: 2px solid $water;
    }
}

.grass {
    .new-set-pokemon {
        border: 2px solid $grass;
        h3 {
            color: $grass;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $grass;
    }

    .card-back {
        background-color: $grass;
        border: 2px solid $grass;
    }
}

.electric {
    .new-set-pokemon {
        border: 2px solid $electric;
        h3 {
            color: $electric;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $electric;
    }

    .card-back {
        background-color: $electric;
        border: 2px solid $electric;
    }
}

.ice {
    .new-set-pokemon {
        border: 2px solid $ice;
        h3 {
            color: $ice;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $ice;
    }

    .card-back {
        background-color: $ice;
        border: 2px solid $ice;
    }
}

.fighting {
    .new-set-pokemon {
        border: 2px solid $fighting;
        h3 {
            color: $fighting;
        }
    }
    .card-front {
        // background-color: white;
        border: 2px solid $fighting;
    }

    .card-back {
        background-color: $fighting;
        border: 2px solid $fighting;
    }
}

.poison {
    .new-set-pokemon {
        border: 2px solid $poison;
        h3 {
            color: $poison;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $poison;
    }

    .card-back {
        background-color: $poison;
        border: 2px solid $poison;
    }
}

.ground {
    .new-set-pokemon {
        border: 2px solid $ground;
        h3 {
            color: $ground;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $ground;
    }

    .card-back {
        background-color: $ground;
        border: 2px solid $ground;
    }
}

.flying {
    .new-set-pokemon {
        border: 2px solid $flying;
        h3 {
            color: $flying;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $flying;
    }

    .card-back {
        background-color: $flying;
        border: 2px solid $flying;
    }
}

.psychic {
    .new-set-pokemon {
        border: 2px solid $psychic;
        h3 {
            color: $psychic;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $psychic;
    }

    .card-back {
        background-color: $psychic;
        border: 2px solid $psychic;
    }
}

.bug {
    .new-set-pokemon {
        border: 2px solid $bug;
        h3 {
            color: $bug;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $bug;
    }

    .card-back {
        background-color: $bug;
        border: 2px solid $bug;
    }
}

.rock {
    .new-set-pokemon {
        border: 2px solid $rock;
        h3 {
            color: $rock;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $rock;
    }

    .card-back {
        background-color: $rock;
        border: 2px solid $rock;
    }
}

.ghost {
    .new-set-pokemon {
        border: 2px solid $ghost;
        h3 {
            color: $ghost;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $ghost;
    }

    .card-back {
        background-color: $ghost;
        border: 2px solid $ghost;
    }
}

.dark {
    .new-set-pokemon {
        border: 2px solid $dark;
        h3 {
            color: $dark;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $dark;
    }

    .card-back {
        background-color: $dark;
        border: 2px solid $dark;
    }
}

.dragon {
    .new-set-pokemon {
        border: 2px solid $dragon;
        h3 {
            color: $dragon;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $dragon;
    }

    .card-back {
        background-color: $dragon;
        border: 2px solid $dragon;
    }
}

.steel {
    .new-set-pokemon {
        border: 2px solid $steel;
        h3 {
            color: $steel;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $steel;
    }

    .card-back {
        background-color: $steel;
        border: 2px solid $steel;
    }
}

.fairy {
    .new-set-pokemon {
        border: 2px solid $fairy;
        h3 {
            color: $fairy;
        }
    }
    .card-front {
        // background-color: $color5;
        border: 2px solid $fairy;
    }

    .card-back {
        background-color: $fairy;
        border: 2px solid $fairy;
    }
}


// Arrows
.arrow {
    width: 2rem;

    svg {
        fill: $color4;
    }
}

.bottom-nav {
    display: flex;
    max-width: 20rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

// .grow { transition: all .2s ease-in-out; }
// .grow:hover { transform: scale(1.1); }
.arrow {
    transition: all .2s ease-in-out;
}

.arrow:hover {
    transform: scale(1.5);
}

.arrow:active {
    svg {
        fill: $color3;
    }
}

footer {
    a {
        color: white;
    }
}

// View Set Thumbnails
.thumbnail-container {
    // margin-left: 1rem;
    // margin-right: 1rem;
    // max-width: 17rem;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;

    &:hover {
        img {
            opacity: 1;
        }

        h3 {
            opacity: 0;
        }
    }

    // &:active {
    //     img {
    //         opacity: 0;
    //     }
    //     h3 {
    //         opacity: 1;
    //     }
    // }
    // border: 2px solid red;
    margin-bottom: 1rem;
    margin-top: 1rem;
    // display: flex;
    display: flex;
    justify-content: center;

    // grid-template-columns: 1rem;
    // background-color: $color5;
    // background-color: rgb(218, 218, 218);
    img {
        transition: all 0.3s ease-in-out;
        width: 100%;
        opacity: 0.2;
        // transition: all 0.5s ease-in-out;
        // &:hover {
        //     opacity: 1;
        // }
        // border: 2px solid red;
    }

    h3 {
        transition: all 0.3s ease-in-out;
        // &:hover {
        //     opacity: 0.2;
        // }
        // padding: 0;
        // margin-top: 0;
        // margin-bottom: 0;
        margin: 0 auto;
        // height: 0;
        font-size: 30pt;
        text-align: center;
        // position: relative;
        position: absolute;
        transform: translateY(250%);
        // margin: 1rem;
        // font-size: 50pt;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // // transform: translate(-50%, -50%);
        // transform: translate(-50%, -350%);
        // opacity: 1;
    }
}

// New Set Thumbnails
.thumbnail-container.new {
    // max-width: 17rem;
    // transition: all 1s ease-in-out;
    display: block;
    border: 2px dashed $color1;
    // padding: 3.5rem;
    fill: $color1;
    // transform: scale(1);
    // svg {
    //     transition: all 0.3s ease-in-out;
    //     &:hover {
    //         transform: scale(1.5);
    //         // transition: all 1s ease-in-out;
    //     }
    // }
}

.thumbnail-container.normal {
    border: 2px solid $normal;

    h3 {
        color: $normal;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $normal;
    }
}

.thumbnail-container.fire {
    border: 2px solid $fire;

    h3 {
        color: $fire;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $fire;
    }
}

.thumbnail-container.water {
    border: 2px solid $water;

    h3 {
        color: $water;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $water;
    }
}

.thumbnail-container.grass {
    border: 2px solid $grass;

    h3 {
        color: $grass;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $grass;
    }
}

.thumbnail-container.electric {
    border: 2px solid $electric;

    h3 {
        color: $electric;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $electric;
    }
}

.thumbnail-container.ice {
    border: 2px solid $ice;

    h3 {
        color: $ice;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $ice;
    }
}

.thumbnail-container.fighting {
    border: 2px solid $fighting;

    h3 {
        color: $fighting;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $fighting;
    }
}

.thumbnail-container.poison {
    border: 2px solid $poison;

    h3 {
        color: $poison;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $poison;
    }
}

.thumbnail-container.ground {
    border: 2px solid $ground;

    h3 {
        color: $ground;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $ground;
    }
}

.thumbnail-container.flying {
    border: 2px solid $flying;

    h3 {
        color: $flying;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $flying;
    }
}

.thumbnail-container.psychic {
    border: 2px solid $psychic;

    h3 {
        color: $psychic;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $psychic;
    }
}

.thumbnail-container.bug {
    border: 2px solid $bug;

    h3 {
        color: $bug;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $bug;
    }
}

.thumbnail-container.rock {
    border: 2px solid $rock;

    h3 {
        color: $rock;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $rock;
    }
}

.thumbnail-container.ghost {
    border: 2px solid $ghost;

    h3 {
        color: $ghost;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $ghost;
    }
}

.thumbnail-container.dark {
    border: 2px solid $dark;

    h3 {
        color: $dark;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $dark;
    }
}

.thumbnail-container.dragon {
    border: 2px solid $dragon;

    h3 {
        color: $dragon;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $dragon;
    }
}

.thumbnail-container.steel {
    border: 2px solid $steel;

    h3 {
        color: $steel;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $steel;
    }
}

.thumbnail-container.fairy {
    border: 2px solid $fairy;

    h3 {
        color: $fairy;
    }

    &:active {
        img {
            opacity: 0;
        }

        h3 {
            opacity: 1;
            color: white;
        }

        background-color: $fairy;
    }
}

@media only screen and (min-width: 360px) {
    .thumbnail-container {
        h3 {
            font-size: 35pt;
            // transform: translateY(250%);
        }
    }
}

// @media only screen and (min-width: 400px) {
//     .thumbnail-container.new {
//         .new-set-icon-container {
//             svg {
//                 &:hover {
//                     transform: scale(-1%);
//                 }
//             }
//             padding: 4rem;
//         }
//     }
// }
.thumbnail-container.new {

    // max-width: 17rem;
    // transition: all 0.1s ease-in-out;
    &:active {
        border-color: $color3;
        fill: $color3;
    }
}


@media only screen and (min-width: 420px) {
    .thumbnail-container {
        h3 {
            font-size: 40pt;
            // transform: translateY(250%);
        }
    }
}

@media only screen and (min-width: 470px) {
    .thumbnail-container {
        h3 {
            font-size: 45pt;
            // transform: translateY(250%);
        }
    }
}

@media only screen and (min-width: 560px) {
    #viewSets {
        display: grid;
        // margin-bottom: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .thumbnail-container {
        width: 100%;

        h3 {
            font-size: 30pt;
            // transform: translateY(250%);
        }
    }
}

// .grow { transition: all .2s ease-in-out; }
// .grow:hover { transform: scale(1.1); }
.thumbnail-container.new {
    transition: all 1s ease-in-out;
    border: 2px dashed $color1;

    // padding: 4rem;
    fill: $color1;

    .new-set-icon-container {

        // transition: all 1s ease-in-out; 
        svg {
            transition: all 0.5s ease-in-out;
            width: 100%;

            // max-width: 400px;
            &:hover {
                transform: scale(150%);
                // max-width: 400px;
            }
        }

        margin: 0 auto;
        // width: 100%;
        padding: 4rem;
    }
}

// .thumbnail-container.new:hover svg {
//     transform: scale(150%);
// }
.arrow:active {
    svg {
        fill: $color3;
    }
}

@media only screen and (min-width: 420px) {
    .thumbnail-container.new {
        .new-set-icon-container {
            svg {
                &:hover {
                    transform: scale(135%);
                    // max-width: 400px;
                }
            }
        }
    }
}

@media only screen and (min-width: 540px) {
    .thumbnail-container.new {
        .new-set-icon-container {
            svg {
                &:hover {
                    transform: scale(125%);
                    // max-width: 400px;
                }
            }
        }
    }
}

.back-container {
    display: flex;
    align-items: center;

    .arrow {
        margin-right: 2rem;
    }
}

// New Set
// main {
//     margin: 0;
// }
// form {
//     padding: 0;
//     margin: 0;
// }
.title-container {
    margin: 1rem;
}

#new-set-name {
    // width:  15rem;
    box-sizing: border-box;
    width: 100%;
    // margin-left: 1rem;
    // margin-right: 2rem;
    height: 4rem;
    padding: 1rem;
    font-size: 2rem;
    color: $color1;
    // border-color: $color4
    border: 2px solid $color1;
    border-radius: 1rem;

    // placeholder-color: $color4;
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color1;
        opacity: 0.5;
        /* Firefox */
    }

    // margin: 0 auto;
}

.new-set-pokemon {
    h3 {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
    }

    margin-bottom: 1rem;
    // width: 80%;
}

.new-set-pokemon-container input[type="checkbox"]:checked {
    display: none;
}

.input-checked-container {
    position: relative;
    // top: 5rem;
    // right: -72%;
    // position: absolute;
    float: right;
    margin: 1rem;

    // bottom: 1rem;
    // right: 2.5rem;
    svg {
        width: 4rem;
        fill: $color4;
        z-index: -1;
    }
}

.save-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

#saveLocal, #deleteLocal {
    // margin: 2rem;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
    // margin: 2rem;
    // margin-top: 2rem;
    // margin-bottom: 2rem;
    // margin-left: 1rem;
    // margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid $color1;
    border-radius: 1rem;
    background-color: $color1;
    color: white;

    &:hover {
        color: white;
        border: 2px solid $color3;
        background-color: $color3;
    }

    &:active {
        color: $color1;
        border: 2px solid $color1;
        background-color: white;
    }
    // box-sizing: content-box;
    // margin: 0 auto;

}

#deleteLocal {
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid $color3;
    border-radius: 1rem;
    background-color: $color3;
    color: white;
    &:hover {
        color: white;
        border: 2px solid $color4;
        background-color: $color4;
    }
    &:active {
        color: $color4;
        border: 2px solid $color4;
        background-color: white;
    }
}

.new-set-pokemon {
    border: 2px solid $color4;
}

.add {
    // .arrow {
    transition: all .2s ease-in-out;

    // }
    &:hover {
        transform: scale(1.3);
    }

    &:active {
        svg {
            fill: $color3;
        }
    }
}

// X Scrolling
// Whitespace meathod // This works
.scroll-outer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    // background-color: $color5;

    .new-set-pokemon-container {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    // scrollLeft: 300;
    // scroll
    //   scrollTo(0, 0)
    // -webkit-scrollbar-track {
    //     height: 50px;
    //     // width: 50px;
    //   }
    // -webkit-scrollbar-thumb {
    //     height: 50px;
    //     // width: 50px;
    //   }
    &::-webkit-scrollbar {
        // width: 2rem;
        margin-top: 1rem;
        padding: 1rem;
        height: 2rem;
        // background-color: #021859;
    }

    &::-webkit-scrollbar-thumb {
        // width: 2rem;
        height: 2rem;
        background-color: $color4;
        border-radius: 1rem;
    }

    -webkit-overflow-scrolling: touch;
    // Removes scrollbar
    // &::-webkit-scrollbar {
    //   display: none;
    // }
}

//   ::-webkit-scrollbar {
//     width: 2rem;
//   }
//   ::-webkit-scrollbar-track {
//     // height: 50px;
//     // width: 50px;
//     width: 2rem;
//   }
// ::-webkit-scrollbar-thumb {
//     // height: 50px;
//     // width: 50px;
//     width: 2rem;
//   }
//   Filter
.search-bar {
    background-color: $color4;
    padding: 1rem;

    .input-container {
        // margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        padding: 0.5rem;
        margin: 0;
        font-size: 1.2rem;
        border: none;
        border-radius: 1rem;
        color: $color4;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color4;
            opacity: 0.8;
            /* Firefox */
        }
    }

    .search-label {
        // padding: 1rem;
        // margin: 1rem;
        font-size: 1.2rem;
        line-height: 3rem;
        // color: white;
    }

    select {
        font-size: 1.2rem;
        color: $color4;
        padding: 0.2rem;
        background-color: white;
        border: none;
        border-radius: 10px;
    }

    button {
        display: block;
        padding: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-radius: 1rem;

        // background-color: white;
        &:hover {
            background-color: white;
            color: $color1;
            border: 2px solid $color1;
        }

        &:active {
            background-color: $color3;
            color: white;
            border: 2px solid white;
        }
    }

    .filter-button {
        background-color: white;
        color: $color4;
        border: 2px solid $color4;
    }

    .random-button {
        background-color: $color4;
        border: 2px solid white;
        color: white;
    }
}

// #resultsNavigator {
//     display: flex;
// }
#resultsNavigator {
    background-color: $color3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .arrow {

        // color: wtite;
        svg {
            fill: white;

            &:active {
                fill: $color1;
            }
        }

    }

    // .arrow {
    //     margin-top: 1rem;
    //     margin-bottom: 1rem;
    //     // padding: 1rem;
    // }
    // padding: 1rem;
    // button {
    //     margin-top: 1rem;
    //     margin-bottom: 1rem;
    //     display: flex;
    //     align-items: center;

    //     padding: 1.5rem;
    //     border: 2px solid $color4;
    //     background-color: white;
    //     border-radius: 10rem;
    //     color: $color4;
    //     // width: 500%;
    // }
    #resultsNumber {
        font-size: 2rem;
        // color: $color4;
    }
}

select {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

// .search-label {
//     display: block;
// }

.loadMore {
    box-sizing: border-box;
    width: 90%;
    background: transparent;
    border: 2px solid $color1;
    color: $color1;
    padding: 1rem;
    margin: 1rem;
    // margin: 0 auto;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    &:hover {
        background-color: $color1;
        color: white;
    }
    &:active {
        background-color: $color3;
        border-color: $color3;
        color: white;
    }
}

#loading, #pokemonInListPlaceholder {
    margin: 1rem;
    font-size: 1.5rem;
}

// .editContainer {

// }

.editButton {
    border: 2px solid $color4;
    background: transparent;
    color: $color4;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    // width: 5rem;
    &:hover {
        border: 2px solid $color4;
        background-color: $color4;
        color: white;
    }
    &:active {
        border: 2px solid $color3;
        background: transparent;
        color: $color3;
    }
}