@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Orelega+One&display=swap');
/*font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Orelega One', cursive;*/

.content {
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
}

header {
    align-content: center;
    background-color: blueviolet;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Orelega One', cursive;
    padding-bottom: 5px;
}

h2 {
    border-bottom: double;
    font-family: 'Orelega One', cursive;
}

footer {
    background-color: blueviolet;
    color: white;
    
    padding: 1px;
    text-align: center;
}

main {
    padding: 5px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.footer-link {
    color: white;
  }