$main-color: #A65362;
$background-color: #F2D5E5;
$mid-color: #D97398;
$highlight-color: #D93D66;
body {
    background-color: $background-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-left: 2rem;
    margin-right: 2rem;
}
h1 {
    text-align: center;
    color: $highlight-color;
}
h2 {
    text-align: center;
}
button {
    background-color: $highlight-color;
    border: 2px solid;
    color: $background-color;
    padding: 1rem;
    border-radius: 50rem;
    // margin: 0 auto;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    &:hover {
        background-color: transparent;
        color: $highlight-color;
    }
    &:active {
        background-color: white;
        color: $highlight-color;
    }
}
.button-box {
    display: flex;
    justify-content: space-evenly;
}
#output {
    margin-top: 1rem;
    text-align: center;
}
@media only screen and (min-width: 599px) {
    body {
        max-width: 600px;
        margin: 0 auto;
    }
}
