body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}
header, footer {
    background-color: blue;
    color: white;
    padding: 1rem;
    h1 {
        margin: 0;
    }
}
.card {
    padding: 1rem;
    a {
        color: white;
        text-decoration: none;
    }
}

.white-water {
    background-color: #2ba189;
}
.happy-housing {
    background-color: #c8005b;
}
