/* 64em is also 1028px (if basefont is 16px) */

@media only screen and (min-width: 64rem) {
    header, nav, main, footer {
        max-width: 64rem;
        margin: auto;
    }
    /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
    header h1 {
        margin: 0;
        font-size: 3rem;
        color: black;
    }
    /*----------- NAVIGATION --------------*/
    /*----------- MAIN --------------*/
    main {
        padding: 0 2%;
        min-height: 10rem;
    }
    h1, h2, h3, h4, h3, h6, p, img, .contact-grid, .weather-forecast-table {
        padding: 0;
    }
    .small-grid {
        padding: 0;
    }
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-card:hover {
        /* offset-x | offset-y | blur-radius | color */
        box-shadow: 10px 5px 20px #333;
    }

    /*----- Home - Wireframes -----*/
    .wireframe-container {
        display: flex;
    }
    /*----- Google Maps -----*/
    /*----------- FOOTER --------------*/

/*----------- Home Cards --------------*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards section div {
    /*position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
   */

    position: relative;
    /* top: 100%; */
    /* left: 50%; */
    transform: translate(0%, 100%);
    /*text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px white;*/

   /* position: static;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    margin: 1rem;
    text-shadow: none;*/
}
.cards section {
    display: block;
    position: relative;
    /*position: relative;
    text-align: center;*/

    /*position: static;
    background-color: #62B7D9;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;*/
   
}

.cards h2 {
    /*padding: 0;
    margin: 0;*/
}

.cards h3 {
    /*font-style: italic;
    padding: 0.5rem;
    margin: 0;*/

    /*color: black;*/
}

.cards p {
   /* padding: 0;*/
}

.cards img {
    position: relative;
    transform: translate(0%, -110%);
    margin: 0;
    /*width: 100%;*/

    /*margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;*/
}

#center img {
    margin: 0;
    /*grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 1rem;*/
}

#center div {
   /* grid-column-start: 2;
    grid-row-start: 1;*/
}

#left img {
    transform: translate(0%, -120%);
}

#left div {
    transform: translate(0%, 90%);

}
}/* end of media query */
